@use 'variables';

body {
color: variables.$font-color;
background-color: variables.$bg-color;
}

.ProfileTitle {
  @extend %display-flex;
  justify-content: center;
  align-items: center;
  color: variables.$font-color;
  font-size: 4em;
  padding: 1em;
}

.RenderCards {
  @extend %display-flex;
}

.SplitProfile {
  @extend %display-flex;
  width: 100%;

  .LeftProfile {
    width: 30%;
    height: 100vh;
  }

  .RightProfile {
    width: 50%;
    padding: 5px;
  }
}
