@use 'variables';

body {
color: variables.$font-color;
background-color: variables.$bg-color;
}

.ProfileTitle {
  @extend %display-flex;
  justify-content: center;
  align-items: center;
  color: variables.$font-color;
  font-size: 3em;
  padding: 1em;
}

.RenderCards {
  @extend %display-flex;
}

.SplitProfile {
  @extend %display-flex;
  width: 100%;

  .LeftProfile {
    width: 30%;
    height: 100vh;
  }

  .RightProfile {
    width: 60%;
    padding: 5px;
  }
}

.cartSplit {
  @extend %display-flex;
  width: 100%;
  height: 100vh;

  .LeftSideCartPage {
    width: 50%;
    height: 100vh;
  }

  .RightSideCartPage {
    width: 50%;
  }
  
  .PlaceOrderBtn {
    background-color: variables.$primary-btn-color;
    border-radius: variables.$border-radius-btn;
    width: 100%;
  }
  .PlaceOrderBtn:hover {
    background-color: variables.$primary-hover-btn-color;
  }

  .CheckoutBtn {
    background-color: variables.$logo-color;
    border-radius: variables.$border-radius-btn;
    width: 100%;
  }

  .CheckoutBtn:hover {
    background-color: variables.$logo-hover-color;
  }
}

#SignOut {
  background-color: variables.$signout-btn-color;
}

.viewProduct-top-section {
  @extend %display-flex;
  justify-content: center;
  font-size: 3em;
  font-style: normal;
  margin: 4%;
}

.viewProduct-mid-section {
  @extend %display-flex;

  .productSplit {
    @extend %display-flex;

    .LeftSideProductPage {
      @extend %display-flex;
      width: 50%;
    }
    .RightSideProductPage {
      @extend %display-flex;
      width: 50%;
    }
  }
}

.ConfirmationCard {
  @extend %display-column;
  align-items: center;
  padding: 5em;
  width: 100%;

  .ConfirmationHeader {
    @extend %display-column;
    align-items: center;
    width: 70%;
  }
  .ConfirmationSubHeader {
    font-size: 13px;
  }

  .ConfirmationMid {
    @extend %display-column;
    gap: 0px;
  }

  .ConfirmationSplit {
    @extend %display-flex; 
    width: 100%;
    justify-content: center;

    .ConfirmationLeft {
      @extend %display-column;
      width: 30%;
      align-items: flex-start;
      justify-content: flex-start;
    }
  
    .ConfirmationRight {
      @extend %display-column;
      width: 40%;
      border-style: double;
      border-color: black;
      justify-content: center;
      padding: 30px;
    }
  }
.ConfirmBtnSplit {
  @extend %display-flex; 
  width: 75%;
  margin: 10px;
  justify-content: space-around;
}
}

.FormSplit {
  @extend %display-flex;

  .FormTitle{
    @extend %display-flex;
    width: 44%;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .FormLeft{
    @extend %display-flex;
    width: 50%;
    height: 100vh;
  }

  .FormRight {
    @extend %display-column;
    width: 50%;
    align-items: center;
    padding: 50px;
  }

  .RegisterForm {
    @extend %display-column;
    width: 100%;
    align-items: center;
  }

  .SignUpBtn {
    background-color: variables.$font-color;
    height: 48;
    width:  75%;
    margin-top: 25px;
  }

  .SignUpBtn:hover {
    background-color: variables.$logo-color;
  }
}

.LongboardHero {
  @extend %display-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .ShopTitle {
    position: absolute;
    color:rgb(238, 238, 238);
    text-shadow: 1.5px 1.5px 1.5px black;
    font-size: 4em;
  }
}

.AccountDetails {
  @extend %display-column;
  align-items: center;
}

.ReviewCard {
  @extend %display-column;
  margin-bottom: 50px;
}

.ReviewCardHeader {
  @extend %display-column;
  padding: 10px;
}

.ReviewCardContent {
  @extend %display-column;
  padding-left: 10px;
}

.ReviewSubmitBody {
  @extend %display-column;
  width: 50%;
}

#CommentBtn {
  background-color: variables.$logo-color;
}

.Disclaimer {
  @extend %display-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
  @extend %display-column;
  background-color: #141718;
  color: white;
  height: 20em;
  padding: 50px;

  .footerTop {
    @extend %display-flex;
    justify-content: space-between;
  }

  .pagelinks {
    @extend %display-flex;
  }

  .footerBottom {
    @extend %display-flex;
    justify-content: space-between;
  }
}
