@use 'variables';

body {
color: variables.$font-color;
background-color: variables.$bg-color;
}

.ProfileTitle {
  @extend %display-flex;
  justify-content: center;
  align-items: center;
  color: variables.$font-color;
  font-size: 3em;
  padding: 1em;
}

.RenderCards {
  @extend %display-flex;
}

#CartProductCard {
  display: flex;
  flex-direction: row;
  max-width: 40vw;
  max-height: 100px;
  margin: .2em;

}

.SplitProfile {
  @extend %display-flex;
  width: 100%;

  .LeftProfile {
    width: 30%;
    height: 100vh;
  }

  .RightProfile {
    width: 60%;
    padding: 5px;
  }
}

#CartButton {
  background-color: #141718;
}

.cartSplit {
  @extend %display-flex;
  width: 100%;
  height: 100vh;

  .LeftSideCartPage {
    width: 50%;
    height: 100vh;
  }

  .RightSideCartPage {
    width: 50%;
  }
  
  .PlaceOrderBtn {
    background-color: variables.$primary-btn-color;
    border-radius: variables.$border-radius-btn;
    width: 100%;
  }
  .PlaceOrderBtn:hover {
    background-color: variables.$primary-hover-btn-color;
  }

  .CheckoutBtn {
    background-color: variables.$logo-color;
    border-radius: variables.$border-radius-btn;
    width: 100%;
  }

  .CheckoutBtn:hover {
    background-color: variables.$logo-hover-color;
  }
}

#SignOut {
  background-color: variables.$signout-btn-color;
}

.viewProduct-top-section {
  @extend %display-flex;
  justify-content: flex-start;
  font-size: 3em;
  font-style: normal;
  margin: 3%;
  margin-bottom: 0%;
  margin-left: 0%;
}

.viewProduct-mid-section {
  @extend %display-flex;

  .productSplit {
    @extend %display-flex;

    .LeftSideProductPage {
      @extend %display-flex;
      width: 50%;
    }
    .RightSideProductPage {
      @extend %display-flex;
      width: 50%;
    }
  }
}

#ShowSubmitReview {
  background-color: variables.$logo-color;
  margin-bottom: 2%;
}

#ShowSubmitReview:hover {
  background-color: variables.$logo-hover-color;
}

.ConfirmationCard {
  @extend %display-column;
  align-items: center;
  padding: 5em;
  width: 100%;

  .ConfirmationHeader {
    @extend %display-column;
    align-items: center;
    width: 70%;
  }
  .ConfirmationSubHeader {
    font-size: 13px;
  }

  .ConfirmationMid {
    @extend %display-column;
    gap: 0px;
  }

  .ConfirmationSplit {
    @extend %display-flex; 
    width: 100%;
    justify-content: center;

    .ConfirmationLeft {
      @extend %display-column;
      width: 30%;
      align-items: flex-start;
      justify-content: flex-start;
    }
  
    .ConfirmationRight {
      @extend %display-column;
      width: 40%;
      border-style: double;
      border-color: black;
      justify-content: center;
      padding: 30px;
    }
  }
.ConfirmBtnSplit {
  @extend %display-flex; 
  width: 75%;
  margin: 10px;
  justify-content: space-around;
}
}

.FormSplit {
  @extend %display-flex;

  .FormTitle{
    @extend %display-flex;
    width: 44%;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .FormLeft{
    @extend %display-flex;
    width: 50%;
    height: 100vh;
  }

  .FormRight {
    @extend %display-column;
    width: 50%;
    align-items: center;
    padding: 50px;
  }

  .RegisterForm {
    @extend %display-column;
    width: 100%;
    align-items: center;
  }

  .SignUpBtn {
    background-color: variables.$font-color;
    height: 48;
    width:  75%;
    margin-top: 25px;
  }

  .SignUpBtn:hover {
    background-color: variables.$logo-color;
  }
}

.LongboardHero {
  @extend %display-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .ShopTitle {
    position: absolute;
    color:rgb(238, 238, 238);
    text-shadow: 1.5px 1.5px 1.5px black;
    font-size: 4em;
  }
}

.AccountDetails {
  @extend %display-column;
  align-items: center;
}

.ReviewCard {
  @extend %display-column;
  margin-bottom: 50px;
}

.ReviewCardHeader {
  @extend %display-column;
  padding: 10px;
}

.ReviewCardContent {
  @extend %display-column;
  padding-left: 10px;
}

.ReviewSubmitBody {
  @extend %display-column;
  width: 50%;
}

#CommentBtn {
  background-color: variables.$logo-color;
}

.Disclaimer {
  @extend %display-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
  @extend %display-column;
  background-color: #141718;
  color: white;
  height: 27em;
  font-size: 12px;
  // padding: 50px;

  .footerTop {
    @extend %display-flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
  }

  .pagelinks {
    @extend %display-flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 20%;
  }

  .SocialLinks {
    @extend %display-flex;
    justify-content: space-around;
    width: 17%;
  }

  .footerBottom {
    @extend %display-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;

    .footerBottom_2 {
      @extend %display-flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 20%;
    }
  }
}


.NewsletterBg {
  position: relative;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10%;

  .NewsletterField {
    position: absolute;
    flex-wrap: nowrap;
    margin: 20px;
    color: black;
    margin-right: 60vw;
    margin-top: 1.5%;
    padding: 40px;
    width: 30vw;

    background-color: rgba(255, 228, 197, 0.76);
    

    .NewsletterTitle {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    .InputContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      width: 100%;
    }
  }
}

.CarouselHeroImage {
  @extend %display-flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.GridContainer {
  @extend %display-flex;
  justify-content: space-between;
  padding: 5em;
  height: 100vh;
  width: 100%;

  .MainGridLeft {
    @extend %display-flex;
    width: 49%;
    height: 37em;
  }

  .MainGridRight {
    @extend %display-column;
    align-items: space-around;
    width: 49%;
    height: 30em;
  }
}

// Client Order Card

.Section1 {
  @extend %display-column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.Section1b {
  width: 100%;
}

.Section2 {
  @extend %display-column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.Section3 {
  @extend %display-column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.Section4 {
  @extend %display-column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.Section4b {
  padding: 10px;
  width: 100%;
}

.Section5 {
  @extend %display-column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.Section5b {
  @extend %display-column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
